.quote,
.loading {
	position: relative;
	width: 22rem;
	height: 21rem;
	background-color: rgba(25, 42, 50, 1);
	align-self: flex-end;
	justify-self: flex-end;
	border-radius: 1.25rem;
}

.quoteHeading {
	margin-top: 2rem;
	color: rgba(49, 196, 190, 1);
	text-align: center;
	font-size: 1.75rem;
}

.quoteParagraph {
	margin: 1.4rem 1.2rem;
	text-align: center;
	font-size: 1.6rem;
	line-height: 1.4;
	font-weight: 600;
	color: rgba(242, 178, 55, 1);
}

.quoteDeco {
	position: absolute;
	left: 50%;
	width: 2rem;
	bottom: 1.5rem;
	transform: translate(-50%, 0);
}
.quoteDecoBg {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	bottom: 2.1rem;
}

.loading {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.8rem;
	font-weight: 600;
	color: rgba(242, 178, 55, 1);
}
